section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
  
  section #Info_Cont1 {
    padding: 20%;
  }
  
  section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
  }

  section #array_container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
  }
  
  section #Info_Cont2 {
    padding: 20%;
  }
  