:root {
  --primary-background: #fff;
  --primary-border-card: rgba(0, 0, 0, 0.125);
  --primary-date: grey;
  --primary-title: black;
  --primary-organisation: black;
  --primary-input-border: #e1e4e8;
  --primary-input-background: #fff;
  --primary-contact-background:#E5E5FF;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Avenir, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--primary-background);
}

#header-inner{
  background-color:  #2196f3;
}


.logo-center {
  background-color: var(--primary-background);
  width: 35%;
  position: relative;
  padding-top: 0%;
  margin: 0 auto;
  
  pointer-events: none;
}

nav {
  margin-top: -10%;
  display: flex;
  justify-content: space-between;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/red-paint-texture.jpg);
  background-size: cover;
}


/*navbar1*/
@import "https://fonts.googleapis.com/css?family=Raleway";

div.container1 {
  font-family: Raleway;
  margin: 0 auto;
  padding: 2em 2em;
  text-align: center;
  display: flex;
  justify-content: center;
}

div.container1 a {
  color: var(--primary-background);
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.blue {
  background: #2196f3;
}

/*logo */
.navbar-brand1 {
  padding: 0px;
}

.navbar-brand1 img {
  background: rgb(248, 242, 242);
  border-radius: 60%; /* the magic */
  padding: 9px 10px;
  position: relative;
  float: left;
  height: 50px;
  margin: 15px 5px 0px 100px;
}
/*logo endl*/

/* Circle behind */
div.circleBehind a:before,
div.circleBehind a:after {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid #0277bd;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

div.circleBehind a:after {
  border-width: 2px;
  transition: all 0.4s;
}

div.circleBehind a:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind a:hover:after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/*navbar1*/
h1 {
  text-align: center;
  color:var(--primary-title);
}
.statement{
  text-align: center;
  color:var(--primary-title);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.card {
  background-color: var(--primary-background);
  border:1.5px solid var(--primary-border-card);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card .body {
  padding: 10px;
  font-size: 0.9rem;
  color: #757575;
}
.cards {
	margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.card header {
  padding: 10px;
  background-color: #0084ad;
  color: #fff;
}
.card header h2,a {
  font-size: 1.4rem;
  font-weight: normal;
	color: var(--primary-background);
  margin: 0;
  padding: 0;
	text-decoration: none;
}
.back{
  color:var(--primary-title);
}

.card .body {
  padding: 10px;
  font-size: 0.9rem;
  color: #757575;
}

footer {
  border-top: 2px solid var(--primary-border-card);
  width: 100%;
  text-align: center;
  flex: none;
  position: sticky;
  top: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  align-items: center;
}

#contactus{
  background-color: var(--primary-contact-background);
  padding:25px 50px;
  padding-bottom: 55px;
  margin-top: 60px;
}

#contact-head{
  text-align: center;
  text-transform: uppercase;
  color:var(--primary-title);
  font-weight: 650;
  font-size: 35px;
  border-bottom:1.5px solid var(--primary-title);
  padding-bottom: 4px;
}

#contact-message{
  color:var(--primary-title);
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin:0px 80px;
}

#form-footer{
  margin-top: 30px;
}

.center-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-table{
  padding:10px 25px;
  padding-bottom:30px;
  min-width: 450px;
  max-width:500px;
  background-color: var(--primary-background);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.input-container{
  margin:30px 10px;
}

.contact-inputs{
  margin-left: 5px;
  margin-bottom: 12px;
  font-size: 14px;
  color:var(--primary-title);
}

.btn-md{
  font-weight: 600;
  background-color: #0084ad;
  color:var(--primary-background);
  width:100%;
}

#social-section{
  padding:70px 0px;
}

.footer-details{
  font-size: 22px;
  font-weight: 500;
}

.footer-details i{
  color:#0084ad;
}

.footer-details span{
  color:grey;
}

#social-media-icons{
  margin-top:20px;
  padding:0px 50px;
  display:flex;
  justify-content: space-between;
  font-size: 28px;
}

.social-media{
  color:var(--primary-title);
  transition: color 0.15s ease-in;
}

.social-media:hover{
  color:#0084ad;
}

.form-control{
  border:1.5px solid var(--primary-input-border);
  background-color: var(--primary-input-background); 
}

.form-control:focus {
border: 1.5px solid var(--primary-input-border);
background-color: var(--primary-input-background);
outline: none;
}
